In [1]:
# pip install langchain
# pip install openai 
# pip install pymysql

In [6]:
# pip install -r requirements.txt

In [ ]:
import openai
openai.api_key = "API_KEY"

In [11]:
import os
from langchain.agents import *
from langchain.llms import OpenAI
from langchain.sql_database import SQLDatabase
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents import AgentExecutor

In [12]:
user = 'root'
password = '123'
host = 'localhost'
database_name = 'pizzahut'
db = SQLDatabase.from_uri(f"mysql+pymysql://{user}:{password}@{host}/{database_name}")

In [ ]:
from langchain.chat_models import ChatOpenAI
llm = ChatOpenAI(model_name = "gpt-3.5-turbo",openai_api_key="API_KEY")

In [14]:
toolkit = SQLDatabaseToolkit(db=db , llm=llm)

In [15]:
agent_executer = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True
)

In [16]:
agent_executer.run("How many tabels do we have?")

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_39020\3310466379.py:1: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 1.0. Use :meth:`~invoke` instead.
  agent_executer.run("How many tabels do we have?")

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: orders, orders_details, pizza_types, pizzasI should query the schema of these tables to get more information.
Action: sql_db_schema
Action Input: orders, orders_details, pizza_types, pizzas
CREATE TABLE orders (
	order_id INTEGER NOT NULL,
	order_date DATE NOT NULL,
	order_time TIME NOT NULL,
	PRIMARY KEY (order_id)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from orders table:
order_id	order_date	order_time
1	2015-01-01	11:38:36
2	2015-01-01	11:57:40
3	2015-01-01	12:12:28
*/


CREATE TABLE orders_details (
	order_details_id INTEGER NOT NULL,
	order_id INTEGER NOT NULL,
	pizza_id TEXT NOT NULL,
	quantity TIME NOT NULL,
	PRIMARY KEY (order_details_id)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from orders_details table:
order_details_id	order_id	pizza_id	quantity
1	1	hawaiian_m	00:00:01
2	2	classic_dlx_m	00:00:01
3	2	five_cheese_l	00:00:01
*/


CREATE TABLE pizza_types (
	pizza_type_id TEXT,
	name TEXT,
	category TEXT,
	ingredients TEXT
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from pizza_types table:
pizza_type_id	name	category	ingredients
bbq_ckn	The Barbecue Chicken Pizza	Chicken	Barbecued Chicken, Red Peppers, Green Peppers, Tomatoes, Red Onions, Barbecue Sauce
cali_ckn	The California Chicken Pizza	Chicken	Chicken, Artichoke, Spinach, Garlic, Jalapeno Peppers, Fontina Cheese, Gouda Cheese
ckn_alfredo	The Chicken Alfredo Pizza	Chicken	Chicken, Red Onions, Red Peppers, Mushrooms, Asiago Cheese, Alfredo Sauce
*/


CREATE TABLE pizzas (
	pizza_id TEXT,
	pizza_type_id TEXT,
	size TEXT,
	price DOUBLE
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from pizzas table:
pizza_id	pizza_type_id	size	price
bbq_ckn_s	bbq_ckn	S	12.7500000000
bbq_ckn_m	bbq_ckn	M	16.7500000000
bbq_ckn_l	bbq_ckn	L	20.7500000000
*/There are 4 tables in the database: orders, orders_details, pizza_types, and pizzas.

Final Answer: 4 tables

> Finished chain.

'4 tables'

In [24]:
agent_executer.run('How Many orders we get and how much money we earn?')

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: orders, orders_details, pizza_types, pizzasI should query the schema of the orders and orders_details tables to find the relevant information.
Action: sql_db_schema
Action Input: orders, orders_details
CREATE TABLE orders (
	order_id INTEGER NOT NULL,
	order_date DATE NOT NULL,
	order_time TIME NOT NULL,
	PRIMARY KEY (order_id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from orders table:
order_id	order_date	order_time
1	2015-01-01	11:38:36
2	2015-01-01	11:57:40
3	2015-01-01	12:12:28
*/


CREATE TABLE orders_details (
	order_details_id INTEGER NOT NULL,
	order_id INTEGER NOT NULL,
	pizza_id TEXT NOT NULL,
	quantity TIME NOT NULL,
	PRIMARY KEY (order_details_id)
)ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci

/*
3 rows from orders_details table:
order_details_id	order_id	pizza_id	quantity
1	1	hawaiian_m	00:00:01
2	2	classic_dlx_m	00:00:01
3	2	five_cheese_l	00:00:01
*/I can query the total number of orders and the total earnings by joining the orders and orders_details tables to calculate the sum of quantities multiplied by the price of each pizza.
Action: sql_db_query
Action Input: SELECT COUNT(DISTINCT o.order_id) AS num_orders, SUM(p.price * TIME_TO_SEC(od.quantity)) AS total_earnings
FROM orders o
JOIN orders_details od ON o.order_id = od.order_id
JOIN pizzas p ON od.pizza_id = p.pizza_id;[(21350, 817860.049999993)]I now know the final answer.
Final Answer: We have received 21,350 orders and earned a total of $817,860.05.

> Finished chain.

'We have received 21,350 orders and earned a total of $817,860.05.'